.service-container {
  height: 600px;
  max-width: var(--max-width);
  background: var(--grey-white);
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;

  box-shadow: 10px 10px 48px 0px rgba(81, 81, 81, 0.75);
  -webkit-box-shadow: 10px 10px 48px 0px rgba(81, 81, 81, 0.75);
  -moz-box-shadow: 10px 10px 48px 0px rgba(81, 81, 81, 0.75);

  border: 1px solid var(--grey-light);
  margin-top: 100px;
  border-radius: 10px;
  position: relative;
}

.service-container > form {
  margin: 0 auto;

  display: flex;

  flex-direction: column;
}

form > h4 {
  text-align: center;
  margin-bottom: 40px;
  color: var(--secondary-color);

  font-family: Roboto;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.form-inputs > input,
form > select {
  background: none;
  border: none;
  border-bottom: 2px solid var(--secondary-color);
  color: var(--grey-dark);
  outline: none;
}

.form-inputs > label,
form > label {
  color: var(--grey-dark);
}

.service-banner-container {
  height: 100%;
  width: 50%;
  background-image: url("../../assets/service-photo.jpg");

  background-size: cover;
}
