.service-container {
  height: 600px;
  max-width: var(--max-width);
  background: var(--grey-white);
  margin: 0 auto;
  width: 90%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  box-shadow: 10px 10px 48px 0px rgba(81, 81, 81, 0.75);
  -webkit-box-shadow: 10px 10px 48px 0px rgba(81, 81, 81, 0.75);
  -moz-box-shadow: 10px 10px 48px 0px rgba(81, 81, 81, 0.75);

  margin-top: 100px;
  border-radius: 10px;
}

.service-container > form {
  margin: 0 auto;

  display: flex;

  flex-direction: column;
}

form > h4 {
  text-align: center;
  margin-bottom: 40px;
  color: var(--secondary-color);

  font-family: Roboto;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.form-inputs > input,
form > select {
  background: none;
  border: none;
  border-bottom: 2px solid var(--secondary-color);
  color: var(--grey-dark);
  outline: none;
}

.form-inputs > label,
form > label {
  color: var(--grey-dark);
}

.service-banner-container {
  height: 100%;
  width: 50%;
  background: rgb(55, 217, 129);
  background: radial-gradient(
    circle,
    rgba(55, 217, 129, 1) 4%,
    rgba(55, 217, 129, 1) 17%,
    rgba(110, 230, 165, 1) 47%,
    rgba(55, 217, 129, 1) 64%,
    rgba(55, 217, 129, 1) 76%,
    rgba(6, 82, 41, 1) 100%
  );

  background-size: cover;
  padding: 40px 80px;
}

.service-banner-container > p {
  color: var(--grey-white);

  font-family: cursive;
  font-size: 3rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  text-align: center;
}

@media (max-width: 1000px) {
  .service-container {
    height: auto;
    padding: 0 0 40px 0;
    width: auto;
    flex-direction: column-reverse;
    width: 90%;
  }

  .service-banner-container {
    width: 100%;
    margin-bottom: 40px;
  }
}
