.item-container {
  width: 315px;
  height: 483px;
  flex-shrink: 0;

  border-radius: 30px;

  margin-left: 20px;
  margin-bottom: 40px;

  background: var(--grey-white);

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  position: relative;

  padding-top: 60px;
  box-shadow: 2px 1px 27px 5px rgba(166, 166, 166, 0.4);
  -webkit-box-shadow: 2px 1px 27px 5px rgba(166, 166, 166, 0.4);
  -moz-box-shadow: 2px 1px 27px 5px rgba(166, 166, 166, 0.4);
}

img {
  mix-blend-mode: multiply;
}

.product-container {
  width: 100%;
}

.promo-input {
  left: 30px;
  top: 30px;

  height: 30px;
  width: 60px;

  border-radius: 8px;
  background: var(--main-blue-dark);

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;

  color: #fff;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.product-container > h3 {
  margin-left: 35px;
  color: #274c5b;
  text-align: left;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  padding-bottom: 10px;
  padding-left: 4px;
}

.price-container {
  width: 80%;
  padding: 10px;
  margin: 0 auto;
  border-top: 1px solid #dedddd;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price-container > div > span {
  color: var(--grey-light);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.875rem;
  padding-right: 20px;
  font-style: normal;
  font-weight: 700;

  text-decoration: line-through var(--grey-dark);

  line-height: normal;
}

.price-container > div > h4 {
  color: var(--main-blue-dark);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.count-container {
  display: flex;
  align-items: center;
  justify-content: center;

  display: inline-flex;
  height: 34px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  flex-shrink: 0;
  border-radius: 6px;
}

.count-container > p {
  margin-left: 4px;
  margin-right: 4px;

  color: var(--light-blue);
  text-align: center;

  font-family: "Roboto";
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.count-container > button {
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.count-container > button > svg {
  color: var(--light-blue);
}
.count-container > button > svg:hover {
  filter: brightness(80%);
}
