.shop-container {
  width: 100%;
  margin: 0 auto;
  max-width: var(--max-width);

  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 80px;
}

.products-container {
  max-width: var(--max-width);
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;

  flex-wrap: wrap;
}

.shop-option-container {
  background-color: var(--light-blue);
  width: 600px;
  height: 300px;
  box-shadow: 10px 10px 48px 0px rgba(184, 184, 184, 0.75);
  -webkit-box-shadow: 10px 10px 48px 0px rgba(184, 184, 184, 0.75);
  -moz-box-shadow: 10px 10px 48px 0px rgba(184, 184, 184, 0.75);

  margin-top: 40px;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 40px;
  padding: 57px 46px;
}

.shop-option-container > h3 {
  color: var(--main-blue-dark);
  font-family: Roboto;
  font-size: 25px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 10px;
}

.shop-option-container > span {
  color: var(--grey-white);
  font-family: Roboto;
  font-size: 0.8rem;

  font-style: normal;
  font-weight: 200;
  line-height: normal;
}

.shop-option-container > select,
.shop-option-container > input {
  margin-top: 20px;
  background: var(--main-blue-dark);
}

@media (max-width: 1280px) {
  .shop-container {
    flex-direction: column;
  }
}
