.contact-container {
  border-top: 1px solid var(--grey-light);

  padding-top: 60px;

  height: 372px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8rem;
}

.contact-items-container {
  width: 100%;
  height: 100%;
  max-width: var(--max-width);
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-us {
  height: 100%;

  width: 285px;
  text-align: right;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-start;
  padding-right: 51px;
}

.contact-us > h3 {
  color: var(--secondary-color);
  font-family: Roboto;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  margin-bottom: 2rem;
}

.contact-us > h4 {
  color: var(--grey-dark);
  text-align: right;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 165%; /* 29.7px */
}

.contact-us > h5 {
  color: var(--grey-dark);
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 165%;

  margin-bottom: 1rem;
}

.about-company {
  height: 100%;
  width: 543px;

  border-left: 1px solid var(--grey-light);
  border-right: 1px solid var(--grey-light);

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 0 41px;
}

.about-company > h3 {
  color: var(--secondary-color);
  font-family: Roboto;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 23px;
}

.about-company > p {
  color: var(--grey-dark);
  text-align: center;
  font-family: Roboto;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 165.4%; /* 29.772px */
  margin-bottom: 50px;
}

.owners {
  width: 285px;
  padding-left: 51px;
  height: 100%;

  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.owners > h3 {
  color: var(--secondary-color);
  font-family: Roboto;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  margin-bottom: 2rem;
}

.owners > h4 {
  color: var(--grey-dark);
  font-family: Roboto;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 165%; /* 29.7px */
}

.owners > h5 {
  color: var(--grey-dark);
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 165%;

  margin-bottom: 1rem;
}

.media-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}

.media-container > div {
  height: 60px;
  width: 60px;

  border-radius: 60px;
  background: var(--main-bg);

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.media-container > div > * {
  color: var(--grey-dark);
}

.media-container > div:hover {
  background: #dbe4de;
  transition: 0.3s;
  cursor: pointer;
}
@media (max-width: 1000px) {
  .contact-container {
    height: auto;
  }

  .contact-items-container {
    flex-direction: column;
    display: grid;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "about-company"
      "contact-us"
      "owners";
  }

  .about-company {
    width: 100%;

    grid-area: about-company;
    padding: 0 100px;
    text-align: center;

    margin: 0;
  }

  .media-container {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .owners {
    height: auto;
    width: auto;
    grid-area: owners;

    padding-right: 0;

    text-align: center;
    align-items: center;

    padding-left: 20px;
    margin: 0;
  }

  .contact-us {
    height: auto;
    width: auto;
    grid-area: contact-us;

    padding-right: 0;

    text-align: center;
    align-items: center;

    padding-left: 20px;
    margin: 0;
  }

  .owners > h3,
  .contact-us > h3 {
    margin: 0;
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .about-company > p,
  .owners > h4,
  .contact-us > h4 {
    font-size: 1rem;
  }

  .contact-us > h5 {
    font-size: 0.875rem;
  }
}
