.navbar-container {
  width: 100%;
  padding: 30px 162px;
  background: var(--main-blue-dark);
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 10%;
  height: 100%;
}

.links-container {
  width: 100%;
  max-width: 1440px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 10%;
}

.link-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link-container > * {
  color: var(--grey-light);
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  margin: 10px;
  border: none;
  outline: none;
  text-decoration: none;
}

.link-container > *:hover {
  color: rgb(95, 156, 178);
  transition: 0.3s;
}
