@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@700;800&family=Roboto:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-bg: #eff6f1;
  --secondary-color: #37d981;
  --main-green-medium: #7eb693;
  --main-yellow-medium: #efd372;
  --main-yellow-light: #efe2b0;

  --grey-light: #d4d4d4;
  --grey-white: #f9f8f8;
  --grey-dark: #525c60;

  --max-width: 1400px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: rgb(249, 249, 249);
}
